* {
    box-sizing: border-box;
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('../public/saBack.jpg');
    background-size: contain;
    background-color: black;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

a {
    color: inherit;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

main {
    min-height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

input, textarea {
    display: block;
    max-width: 300px;
}

button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 0.5rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

nav a {
    font-weight: bold;
    text-decoration: underline;
}

#numbersDiv {
    flex-direction: row;
    height: 100vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

#text {
    font-family: "Apple Chancery";
    color: whitesmoke;
    text-align: center;
}

#data {
    background-color: rgba(0,0,0,0.35);
    border-radius: 25%;
    padding: 2rem;
    width: 30%;
    justify-content: center;
    align-items: center;
}

#bigNumber {
    color: navajowhite;
    font-size: xxx-large;
    font-weight: bolder;
    font-family: "Kohinoor Telugu";
    display: flex;
    justify-content: center;
}

#mediumNumber {
    color: navajowhite;
    font-size: xx-large;
    font-weight: bolder;
    font-family: "Kohinoor Telugu";
    display: flex;
    justify-content: center;
}

#smallNumber {
    display: flex;
    color: navajowhite;
    font-size: x-large;
    font-weight: bolder;
    font-family: "Kohinoor Telugu";
    justify-content: center;
}

#cmsDiv {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: slategray;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}


@media (max-width: 767px) {
    body {
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-image: url('../public/saBaMob.jpg');
        background-size: contain;
        background-color: black;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    #numbersDiv {
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        margin-top: 10vh;
        display: flex;
    }

    #text {
        font-family: "Apple Chancery";
        color: whitesmoke;
        font-size: medium;
    }

    #data {
        background-color: rgba(0,0,0,0.35);
        border-radius: 25%;
        padding: 2rem;
        width: 70%;
    }

    #bigNumber {
        color: navajowhite;
        font-size: xx-large;
        font-weight: bolder;
        font-family: "Kohinoor Telugu";
        display: flex;
        justify-content: center;
    }

    #mediumNumber {
        color: navajowhite;
        font-size: x-large;
        font-weight: bolder;
        font-family: "Kohinoor Telugu";
        display: flex;
        justify-content: center;
    }
}
